GFC2/GFC2Project/Intermediate/CachedAssetRegistry.bin
GFC2/GFC2Project/Saved/Config/Windows/EditorPerProjectUserSettings.ini
*.log
GFC2/GFC2Project/Saved/AutoScreenshot.png
GFC2/GFC2Project/Saved/Autosaves/PackageRestoreData.json
GFC2/GFC2Project/Saved/Autosaves/PackageRestoreData.json
GFC2/GFC2Project/Saved/Config/Windows/Editor.ini
GFC2/GFC2Project/Saved/Config/Windows/EditorPerProjectUserSettings.ini
GFC2/GFC2Project/Intermediate/CachedAssetRegistry.bin
GFC2/GFC2Project/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
GFC2/GFC2Project/Saved/Autosaves/PackageRestoreData.json
GFC2/GFC2Project/Saved/AutoScreenshot.png
GFC2/GFC2Project/Saved/Config/CrashReportClient/UE4CC-Windows-42C8B8D545563EFD1FD755A6C3FDF129/CrashReportClient.ini
GFC2/GFC2Project/Saved/Config/Windows/Editor.ini
GFC2/GFC2Project/Saved/Config/Windows/EditorPerProjectUserSettings.ini
GFC2/GFC2Project/Saved/Logs/GFC2Project.log
GFC2/GFC2Project/Intermediate/CachedAssetRegistry.bin
GFC2/GFC2Project/Saved/AutoScreenshot.png
GFC2/GFC2Project/Saved/Config/Windows/Editor.ini
GFC2/GFC2Project/Saved/Config/Windows/EditorPerProjectUserSettings.ini
