GFC2/GFC2Project/Intermediate/CachedAssetRegistry.bin
GFC2/GFC2Project/Saved/Config/Windows/EditorPerProjectUserSettings.ini
*.log
GFC2/GFC2Project/Saved/AutoScreenshot.png
GFC2/GFC2Project/Saved/Autosaves/PackageRestoreData.json